# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
*.swp
*.swo

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Build and artifacts
*build*/
tmp/
*.log
*.tmp
*.bak
*.csv
node_modules/
dist/
Kv8Planning/
scripts/
*.env

